<a href="https://colab.research.google.com/github/chiamaka249/Scraping-Tables/blob/main/column_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/WIKI Pages Scrape/ABIAs.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       126 non-null    int64
 1   LGA              126 non-null    object
 2   District / Area  126 non-null    object
 3   Postal code      126 non-null    int64
 4   Villages         126 non-null    object
 5   Unnamed: 4       1 non-null      object
 6   Unnamed: 5       1 non-null      object
 7   Unnamed: 6       1 non-null      float64
 8   Unnamed: 7       1 non-null      object
dtypes: float64(1), int64(2), object(6)
memory usage: 9.0+ KB

In [6]:
df.drop(['Unnamed: 0','Postal code'], axis=1, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LGA              126 non-null    object
 1   District / Area  126 non-null    object
 2   Villages         126 non-null    object
 3   Unnamed: 4       1 non-null      object
 4   Unnamed: 5       1 non-null      object
 5   Unnamed: 6       1 non-null      float64
 6   Unnamed: 7       1 non-null      object
dtypes: float64(1), object(6)
memory usage: 7.0+ KB