<a href="https://colab.research.google.com/github/chiamaka249/Scraping-Tables/blob/main/Person_name_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [40]:
df = pd.read_html('https://okwuid.com/2018/04/29/igbo-surnames-and-meanings/')

In [41]:
print(df)

[            0          1        2
0  NAME (AHA)  BREAKDOWN  MEANING,              0  ...                                                  2
0        Abara  ...                                             Spirit
1       Achebe  ...                                                NaN
2     Acholonu  ...                                                NaN
3      Adichie  ...                                                NaN
4    Agughalam  ...                    Do not side-line/marginalise me
5        Aguta  ...                             Countless/To have many
6     Agwuegbo  ...                               The hardship is over
7          Aku  ...                                             Wealth
8      Alaneme  ...  The land is active – may have other interpreta...
9          Ama  ...                                           Compound
10       Amadi  ...                               The compound remains
11      Amaike  ...                             The compound is strong
12    Aniefuna  ...                                My land is not lost
13    Anokwuru  ...                                          Four talk
14     Anosike  ...                                     Four is strong
15      Anuoru  ...                                      To stay well?
16     Asiegbu  ...                                                NaN
17       Asika  ...                         Asi (lie) = to lie a lot??
18     Asinobi  ...                                     From the heart
19      Atuche  ...           To think / to plan something in the mind
20     Atuegbu  ...                       Speculation will not kill me
21  Atusiemobi  ...                      Take heart (my condolences) ?
22     Awachie  ...                           He has come to replace ?
23       Awujo  ...                                      To be quiet ?
24       Azuka  ...  “The back is above.” m. Azu ordinarily means “...

[25 rows x 3 columns],                       0  ...                                         2
0                Azunna  ...                           My fathers back
1              Chidozie  ...                 My spirit/God looks after
2           Chuke/Chike  ...                               God’s power
3          Chukwumerije  ...                God makes (something) walk
4           Chukwunyelu  ...                                 God gives
..                  ...  ...                                       ...
164            Umunakwe  ...               My people/my siblings agree
165              Umunna  ...  Children of the father (Siblings)/Family
166              Unigwe  ...      Heaven (House of the sky) [Anambra?]
167  Uzoegbu/Uxoebgulam  ...                 The road till not kill me
168           Wabaranta  ...                       Child of the spirit

[169 rows x 3 columns]]

In [42]:
df[0].to_csv('Surnames.csv')

In [43]:
df = pd.read_csv('/content/Surnames.csv')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1 non-null      int64
 1   0           1 non-null      object
 2   1           1 non-null      object
 3   2           1 non-null      object
dtypes: int64(1), object(3)
memory usage: 160.0+ bytes

In [47]:
df.drop(['Unnamed: 0', '1', '2'], axis=1, inplace=True)

In [48]:
df.head()

            0
0  NAME (AHA)

In [49]:
df.to_csv('/content/Surname2.csv')